openapi: 3.0.0
info:
  title: UniClub API
  version: 1.0.0
  description: |
    유니클럽 독서모임 플랫폼 API 문서입니다.
    인증이 필요한 API는 NextAuth 세션 쿠키를 통해 인증됩니다.

servers:
  - url: https://club.bestcome.org/api
    description: Production
  - url: http://localhost:3000/api
    description: Development

tags:
  - name: Auth
    description: 인증 관련 API
  - name: Programs
    description: 프로그램 관리
  - name: Reports
    description: 독후감 관리
  - name: Attendance
    description: 출석 관리
  - name: Community
    description: 커뮤니티 게시판
  - name: Notifications
    description: 알림 시스템
  - name: Social
    description: 소셜 기능
  - name: Club
    description: 클럽 기능

paths:
  /auth/register:
    post:
      summary: 회원가입
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                name:
                  type: string
      responses:
        '201':
          description: 가입 성공
        '400':
          description: 잘못된 입력
        '409':
          description: 이미 존재하는 이메일

  /auth/forgot-password:
    post:
      summary: 비밀번호 찾기
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: 재설정 이메일 발송

  /programs/{id}/sessions:
    get:
      summary: 프로그램 세션 목록
      tags: [Programs]
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
        '401':
          description: 인증 필요

  /programs/{id}/apply:
    post:
      summary: 프로그램 참가 신청
      tags: [Programs]
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: 신청 성공
        '400':
          description: 이미 신청됨
        '401':
          description: 인증 필요

  /programs/{id}/attendance:
    get:
      summary: 출석 기록 조회
      tags: [Attendance]
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attendance'
    post:
      summary: 출석 체크
      tags: [Attendance]
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionId]
              properties:
                sessionId:
                  type: string
                qrToken:
                  type: string
      responses:
        '200':
          description: 출석 처리 완료
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attendance'
        '400':
          description: 출석 불가 (시간 초과 등)

  /attendance/qr/generate:
    post:
      summary: QR 코드 생성
      tags: [Attendance]
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionId]
              properties:
                sessionId:
                  type: string
      responses:
        '200':
          description: QR 토큰 반환
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time

  /reports:
    get:
      summary: 독후감 목록 조회
      tags: [Reports]
      security:
        - cookieAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookReport'
                  total:
                    type: integer
    post:
      summary: 독후감 작성
      tags: [Reports]
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bookTitle, content]
              properties:
                bookTitle:
                  type: string
                bookAuthor:
                  type: string
                content:
                  type: string
                  minLength: 100
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                isPublic:
                  type: boolean
                  default: true
      responses:
        '201':
          description: 작성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookReport'

  /reports/{id}/like:
    post:
      summary: 독후감 좋아요 토글
      tags: [Reports]
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  liked:
                    type: boolean

  /club/community/{postId}/like:
    post:
      summary: 게시글 좋아요 토글
      tags: [Community]
      security:
        - cookieAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  liked:
                    type: boolean
        '401':
          description: 인증 필요

  /club/community/{postId}/comments:
    get:
      summary: 게시글 댓글 목록
      tags: [Community]
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'

  /notifications:
    get:
      summary: 알림 목록 조회
      tags: [Notifications]
      security:
        - cookieAuth: []
      parameters:
        - name: unreadOnly
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'

  /notifications/read:
    post:
      summary: 알림 읽음 처리
      tags: [Notifications]
      security:
        - cookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: 성공

  /club/social/follow:
    post:
      summary: 팔로우/언팔로우 토글
      tags: [Social]
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, action]
              properties:
                userId:
                  type: string
                action:
                  type: string
                  enum: [follow, unfollow]
      responses:
        '200':
          description: 성공

  /club/timeline:
    get:
      summary: 활동 타임라인
      tags: [Club]
      security:
        - cookieAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [all, report, attendance, badge]
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimelineItem'
                  nextCursor:
                    type: string
                    nullable: true

  /club/recommendations/generate:
    post:
      summary: AI 책 추천 생성
      tags: [Club]
      security:
        - cookieAuth: []
      responses:
        '200':
          description: 추천 결과
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommendations:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        author:
                          type: string
                        reason:
                          type: string

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: NextAuth 세션 쿠키

  schemas:
    Program:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
          enum: [BOOKCLUB, SEMINAR, DEBATE]
        status:
          type: string
          enum: [RECRUITING, ONGOING, COMPLETED]
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        participantCount:
          type: integer

    Session:
      type: object
      properties:
        id:
          type: string
        sessionNo:
          type: integer
        date:
          type: string
          format: date-time
        location:
          type: string
        bookTitle:
          type: string

    Attendance:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [PRESENT, LATE, ABSENT, EXCUSED]
        checkedAt:
          type: string
          format: date-time
        lateMinutes:
          type: integer

    BookReport:
      type: object
      properties:
        id:
          type: string
        bookTitle:
          type: string
        bookAuthor:
          type: string
        content:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        isPublic:
          type: boolean
        createdAt:
          type: string
          format: date-time

    Comment:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        authorName:
          type: string
        createdAt:
          type: string
          format: date-time

    Notification:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        title:
          type: string
        content:
          type: string
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time

    TimelineItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [report, attendance, badge, quote]
        title:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
